* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


* {
    text-decoration: none;
    padding: 0;
    background-color: unset;
    border: unset;
}


body {
    width: 100%;
}

body.open {
    overflow: hidden;
}


* {
    font-family: 'Lato', sans-serif;
}

section.mb-4{
    margin-top: 120px;
}


div.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
    color: black;
    font-family: 'Anton', sans-serif;
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 8px 0 8px 12px;
    border-top: solid 1px black;
    margin-top: 119px;
}

.footer p {
    font-size: 22px;
    margin: 0px;
}
